* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


a {
    cursor: pointer;
}


/* NAVIGATION BAR */

.header-main {
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

.header-main-logo {
    width: fit-content;
    height: 100%;
    padding-left: 8px;
    display: flex;
}

.header-main-logo img {
    height: 40px;
    align-self: center;
}

.header-main-nav {
width: fit-content;
height: 100%;
text-align: center;
}

.header-main-nav ul {
    list-style: none;
    margin-left: 30px;
    display: inline-block;
}

.header-main-nav ul li {
    display: inline;
    float: left;

}

.header-main-nav ul li a {
    padding: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 60px;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

/* NAVIGATION BAR END */


/* ABOUT ME SECTION */

.about-me p {
    color: black;
    font-size: 0.8rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.about-me {
    height: 100vh;
}

.oki .section-text-p1 {
    font-size: 1rem;
    line-height: 22px;
}

.oki .title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 60p;
    font-style: italic;
}

.oki .section-text-p2 {
    font-size: 1rem;
    line-height: 22px;
}

.oki .about-me-text {
    width: 40%;
    margin: 0 auto;
    margin-top: 10px;
}

.about-me-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

/* ABOUT ME SECTION END */


/* PROJECTS SECTION */

.projects {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.projects .projects-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.projects .project-1 {
    width: 300px;
    height: 300px;
    background-color: beige;
    /* Remove flex properties from individual boxes */
    margin: 10px;
}


/* FOOTER SECTION */

.footer-main {
    width: 100%;
    padding: 60px 0 100px;
    background-color:#474954;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 300px;
}


/* SOCIAL MEDIA SECTION */
.footer-social-media {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.social-media-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social-media-icon {
    width: 20px;
    height: 20px;
    margin: 10px;
}

.social-media-text {
    display: flex;
    flex-direction: row;
}

/* SOCIAL MEDIA SECTION END */

.footer-sitemap {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: auto;
}

.footer-about-me {
    display: flex;
    justify-content: center; /*Center the list items */
    gap: 20px;
    margin-top: auto;
}


.footer-sitemap ul:nth-child(1) {
    flex-basis: 200px;
}

.footer-sitemap ul:nth-child(2) {
    text-align: center;
}

.footer-sitemap ul:nth-child(2) li{
    text-align: center;
    margin: 5px 0;
}

.footer-sitemap ul:nth-child(2) li a {
    color: whit;
}


/* FOOTER SECTION END */
