:root {
    --base-color: #fff;
    --txt-color: #000;
    --project-color:#000;
    --links-color: #808080;
    --txt-decoration: #b5b5b5;
    --footer-background-color: #474954;
}

.darkmode {
    --base-color: #000;
    --txt-color: #fff;
    --project-color:#000;
    --links-color: #808080;
    --txt-decoration: #b5b5b5;
    --footer-background-color: #474954;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--base-color);
    color: var(--txt-color);
}


a {
    cursor: pointer;
}

p {
    color: var(--txt-color);
}


/* NAVIGATION BAR */

.header-main {
    width: 100%;
    height: 60px;
    background-color: var(--base-color);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-main-logo {
    width: fit-content;
    height: 100%;
    padding-left: 8px;
    display: flex;
}

.header-main-logo img {
    height: 40px;
    align-self: center;
}

/* DARK MODE BUTTON */
#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--footer-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}

#theme-switch:hover {
    cursor: pointer;
}

/* DARKMODE BUTTON END */

.header-main-nav {
width: fit-content;
height: 100%;
text-align: center;
}

.header-main-nav ul {
    list-style: none;
    margin-left: 30px;
    display: inline-block;
}

.header-main-nav ul li {
    display: inline;
    float: left;

}

.header-main-nav ul li a {
    padding: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 60px;
}

.header-main-nav ul li a:hover {
    color: var(--links-color);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: var(--txt-decoration);
}

/* NAVIGATION BAR END */


/* ABOUT ME SECTION */

.about-me p {
    font-size: 0.8rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.about-me {
    height: 100vh;
}

.oki .section-text-p1 {
    font-size: 1rem;
    line-height: 22px;
}

.oki .title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 60p;
    font-style: italic;
}

.oki .section-text-p2 {
    font-size: 1rem;
    line-height: 22px;
}

.oki .about-me-text {
    width: 40%;
    margin: 0 auto;
    margin-top: 10px;
}

.about-me-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

/* ABOUT ME SECTION END */


/* PROJECTS SECTION */

.projects {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.projects .projects-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.projects .project-1 {
    width: 300px;
    height: 300px;
    background-color: beige;
    /* Remove flex properties from individual boxes */
    margin: 10px;
    color: var(--project-color);
    padding: 5px 0 0 10px;
}




/* WRAPPER */
/*
.wrapper-main {
    width: 1100px;
    margin: 0 auto;
}

/*
.footer-main-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* FOOTER SECTION */

.footer-main {
    width: 100%;
    padding: 60px 0 100px;
    background-color: var(--footer-background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
}

.footer-social-media {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    padding-top: 20px;
}

.footer-social-media img {
    width: 20px;
    height: 20px;
}

.footer-sitemap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-sitemap ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.footer-sitemap ul a {
    color: var(--txt-decoration);
    text-decoration: underline;
    text-underline-offset: 0.2rem;
}

.footer-sitemap li {
    margin: 0 20px;
}
/* FOOTER SECTION END */


/* SCROLL ANIMATION */


/* SCROLL ANIMATION FOR PROJECTS CONTAINER */

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.projects-container {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

/* SCROLL ANIMATION END */

/* RESPONSIVE DESIGNS */

@media () {

}